.main{
  width: 100vw;
  height: 100vh;
}

.logo{
  padding-top: 10%;
  align-items: center;
  width: 18%;
  height: 8%;
  margin: auto;
}

.mensagem{
  text-align: center;
  margin-top: 10%;
  color: black;
}

.check{
  width: 32px;
}