.produto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 32px 0;
  }
  
  .img-produto {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 32px;
  }
  
  .descricao-produto {
    width: 300px;
  }
  
  .descricao-produto p {
    margin-bottom: 8px;
    text-align: justify;
  }
  
  #preco {
    font-weight: bold;
  }

  .modificadores {
    display: flex;
    align-items: center;
    justify-content: 10px;
    margin-top: 10px;
  }
  
  .modificadores > div {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .modificadores select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .modificadores button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .modificadores span {
    font-size: 18px;
    margin: 0 10px;
  }
  
  button.comprar {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-start;
  }

  #dropdownsizes{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    position: relative;
  }

#button3d{
    border-radius: 98%;
    background-color: #e0e0e0;
    padding: 10px;
}

#link3d{
    width: 20px;
}