@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Archivo+Black&family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=BioRhyme:wght@200..800&family=Quicksand:wght@300..700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Archivo+Black&family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=BioRhyme:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&family=Varela+Round&display=swap');

.casdastro-container,
.login-container {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 3vh;
    margin-bottom: 10vh;
}

.tCadastro h1 {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

input::placeholder {
    color: #888;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 1vh;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

button[type="submit"]:hover {
    background-color: #333;
}

form div {
    position: relative;
}

form div:last-of-type {
    margin-bottom: 20px;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.link-login {
    margin-top: 20px;
}

.img-logo {
    text-align: center;
}

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
}

.input-search {
    width: 100%;
    max-width: 400px;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
}

.img-logo-home {
    margin: 0 auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.input-icones {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.favoritos,
.carrinho {
    margin-right: 1vw;
}

.catalogo {
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 10px 0;
    margin-top: 11%;
    font-family: "Josefin Sans", sans-serif;
    left: 0;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    .casdastro-container,
    .login-container {
        padding: 15px;
    }

    .tCadastro h1 {
        font-size: 24px;
    }

    .input-search {
        width: 100%;
        margin-left: 0;
    }

    .img-logo-home {
        margin: 0 auto;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-icones {
        justify-content: flex-start;
        margin-left: 0;
        margin-top: 5vh;
    }

    .catalogo {
        margin-top: 5%;
    }
}

@media (max-width: 480px) {
    .casdastro-container,
    .login-container {
        width: 100%;
        padding: 10px;
    }

    .tCadastro h1 {
        font-size: 20px;
    }

    .input-search {
        width: 100%;
        margin-top: 5vh;
        margin-left: 0;
    }

    .img-logo-home {
        margin: 0 auto;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .input-icones {
        justify-content: center;
        margin-left: 0;
        margin-top: 5vh;
    }

    .catalogo {
      width: 100%;
      text-align: center;
      background-color: black;
      padding: 10px 0;
      margin: 0; /* Remove espaçamentos extras */
      font-family: "Josefin Sans", sans-serif;
      position: relative; /* Ajusta a posição relativa para melhor alinhamento */
      top: 0; /* Alinha com o topo do contêiner pai */
    }
}

  
