@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Archivo+Black&family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=BioRhyme:wght@200..800&family=Quicksand:wght@300..700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Archivo+Black&family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=BioRhyme:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&family=Varela+Round&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    width: 100%;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
.casdastro-container{
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 3vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
}
.login-container {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 3vh;
    margin-bottom: 10vh;
}

.tCadastro h1 {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-form {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

input::placeholder {
    color: #888;
}

.botao-login {
    width: 100%;
    padding: 12px;
    margin-top: 1vh;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

button[type="submit"]:hover {
    background-color: #333;
}

form div {
    position: relative;
}

form div:last-of-type {
    margin-bottom: 20px;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.link-login {
    margin-top: 20px;
}



.form button {
    border: none;
    background: none;
    color: #8b8ba7;
}

.input-search {
    width: 300px;
    margin-left: auto;
    
}

.img-logo-home {
    margin: 0 auto;
}

.navbar {
 margin: auto;
    width: 97%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-icones {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.favoritos,
.carrinho {
    margin-right: 1vw;
}

.catalogo {
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 10px 0;
    font-family: "Josefin Sans", sans-serif;
    left: 0;
    right: 0;
}
.catalogo a {
    text-decoration: none;
  }

.lancamentos{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
    font-size: xx-large;
}
.descricao-p{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    background-color: #D9D9D9;
    color: #000000;
    font-size: small;
}
.botao-add-carrinho{
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#dropdownsizes{
    appearance: none; /* Remove a seta padrão do dropdown */
    -webkit-appearance: none; /* Compatibilidade com Safari */
    -moz-appearance: none; /* Compatibilidade com Firefox */
    background-color: #e0e0e0; /* Cor de fundo */
    border: none; /* Remove borda padrão */
    border-radius: 20px; /* Borda arredondada */
    padding: 10px 30px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    color: #000000; /* Cor do texto */
    cursor: pointer; /* Cursor para indicar clicável */
    position: relative; /* Para a seta personalizada */
  }

.produto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 32px 0;
  }
  
  /* Image styling */
  .img-produto {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 32px;
  }
  
  /* Descrição container styling */
  .descricao-produto {
    width: 300px;
  }
  
  /* Description text styling */
  .descricao-produto p {
    margin-bottom: 8px;
  }
  
  /* Preço styling */
  #preco {
    font-weight: bold;
  }

  .modificadores {
    display: flex;
    align-items: center;
    justify-content: 10px; /* Justifica o espaço entre o dropdown e os botões */
    margin-top: 10px; /* Espaço entre a descrição e os modificadores */
  }
  
  .modificadores > div {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .modificadores select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .modificadores button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .modificadores span {
    font-size: 18px;
    margin: 0 10px;
  }
  
  button.comprar {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-start;
  }

  .info-conta{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: large;
  }
  .desc-conta{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: medium;
  }

  .filtrar-style{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: medium;
  }
  .input-cpf{
    -webkit-appearance: none;
  }

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    .casdastro-container,
    .login-container {
        padding: 15px;
    }

    .tCadastro h1 {
        font-size: 24px;
    }

    .input-search {
        width: 100%;
        margin-left: 0;
    }

    .img-logo-home {
        margin: 0 auto;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-icones {
        justify-content: flex-start;
        margin-left: 0;
        margin-top: 5vh;
    }

    .catalogo {
        margin-top: 5%;
    }
}

@media (max-width: 480px) {
    .casdastro-container,
    .login-container {
        width: 100%;
        padding: 10px;
    }

    .tCadastro h1 {
        font-size: 20px;
    }

    .input-search {
        width: 100%;
        margin-top: 5vh;
        margin-left: 0;
    }

    .img-logo-home {
        margin: 0 auto;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .input-icones {
        justify-content: center;
        margin-left: 0;
        margin-top: 5vh;
    }

    .catalogo {
      width: 100%;
      text-align: center;
      background-color: black;
      padding: 10px 0;
      margin: 0; /* Remove espaçamentos extras */
    }
}

.carousel-retas img {
    border-radius: 0 !important;
}

.stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .step1,
  .step2,
  .step3 {
    flex: 1;
    padding: 10px 20px;
    text-align: center;
    color: white;
    position: relative;
  }
  
  .step1 {
    background-color: black;
    border-radius: 20px 0 0 20px; /* Bordas arredondadas no início */
  }
  
  .step2 {
    background-color: #d3d3d3;
  }
  
  .step3 {
    background-color: #444;
    border-radius: 0 20px 20px 0; /* Bordas arredondadas no final */
  }
  
  .step1::after,
  .step2::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-left: 12px solid #000000;
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .step2::after {
    border-left-color: #d3d3d3;
  }
  
  .payment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: 20px auto;

  }
  
  .payment-selection {
    flex: 2;
  }
  
  .payment-options {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .payment-options label {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .total-amount {
    flex: 1;
    text-align: right;
  }
  
  .total-amount h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .total-amount p {
    font-size: 24px;
    font-weight: bold;
  }
  
.buttom-container{
    text-align: center;
}

  .buy-button {
    flex: 1;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;

  }
  
  .buy-button:hover {
    background-color: #333;
  }
  